@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96.1%;
    --foreground: 228 10% 20%;

    --card: 0 0% 100%;
    --card-foreground: 228 10% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 228 10% 20%;

    --primary: 228 64% 33%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 228 10% 20%;

    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 202 95% 73%;
    --accent-foreground: 228 64% 15%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 228 64% 33%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 228 10% 10%;
    --foreground: 0 0% 96.1%;

    --card: 228 10% 15%;
    --card-foreground: 0 0% 96.1%;

    --popover: 228 10% 10%;
    --popover-foreground: 0 0% 96.1%;

    --primary: 202 95% 73%;
    --primary-foreground: 228 64% 15%;

    --secondary: 228 10% 20%;
    --secondary-foreground: 0 0% 98%;

    --muted: 228 10% 20%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 228 64% 33%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 228 10% 25%;
    --input: 228 10% 25%;
    --ring: 202 95% 73%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
